<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Chromebook must NOT require leanback -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false"
        tools:replace="android:required" />

    <application
        tools:replace="android:banner">

        <activity
            android:name=".MainActivity"
            tools:replace="android:banner">

            <!-- Normal launcher for Chromebook -->
            <intent-filter tools:replace="category">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>
</manifest>
