<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Chromebook must NOT require leanback -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false"
        tools:replace="android:required" />

    <application tools:node="merge">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            tools:node="merge">

            <!-- Normal launcher entry for Chromebook -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>
