name: Android Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install system packages
        run: |
          sudo apt-get update
          sudo apt-get install -y unzip wget

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Use GitHub's built-in Android SDK
        run: |
          echo "ANDROID_SDK=/usr/local/lib/android" >> $GITHUB_ENV
          echo "sdk.dir=/usr/local/lib/android" > local.properties
          ls /usr/local/lib/android

      - name: Build APK with Gradle
        run: |
          chmod +x ./gradlew
          ./gradlew assembleDebug --stacktrace --no-daemon

      - name: Upload APKs
        uses: actions/upload-artifact@v4
        with:
          name: built-apks
          path: app/build/outputs/apk/**/*.apk
